/***************************Seventh Section CopyrightSection Start********************************/
.c-copy_right {
  text-align: center;
  padding: 40px 0 0;
  font-size: 15px;
}

/***************************Sixth Section CopyrightSection End********************************/
